<!-- Navigation Bar -->
<nav class="navigationBar">
    <div class="rightNav">
        <!-- Home Link Button -->
        <a class="links" href="/">Issue Tracker</a>

    </div>
    <div class="leftNav">
        <!-- Home Link on Icon -->
        <a href="/"> <i class="fa-solid fa-house-crack fa-3x logo"></i></a>
    </div>
</nav>